@import 'bourbon/bourbon';
@import 'snippets';
/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;        
}

$opensans: 'Open Sans', sans-serif;

body {
    font-size: 14px;
    background-image:url(../img/barra-esquerda.png);
    background-repeat: repeat-y;
    font-family: $opensans;
    &.home{
        overflow:hidden;
        .conteudo, .interna, .slide-wrapper, .slides, .bx-wrapper, .bx-viewport{
            height:100% !important;
        }
        .slides > div{
            height:100%;
        }
        .projeto-home{
            display:block;
            width:100%;
            height:100%;
            img{
                height:100%;
            }
        }
    }
}


* {
    margin: 0;
}

html, body {
    height: 100%;
}

.left{
    float: left;
}
.right{
    float:right;
}
.page-imagem{
    float:right;
    margin-top:50px;
}
/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}
/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
@font-face {
    font-family: 'fontin';
    src: url('../fonts/fontin-smallcaps-webfont.eot');
    src: url('../fonts/fontin-smallcaps-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/fontin-smallcaps-webfont.woff') format('woff'),
         url('../fonts/fontin-smallcaps-webfont.ttf') format('truetype'),
         url('../fonts/fontin-smallcaps-webfont.svg#fontin-smallcaps-webfont') format('svg');
    font-weight: normal;
    font-style: normal;
}

$fontin: 'fontin', sans-serif;

/*****Cores*****/
$marrom: #3C3C3C;
$wellread: #8D2E36;
$sail: #00DCFF;
$scarlett: #7B222C;

/* ==========================================================================
   Sidebar
   ========================================================================== */
.contato-home-wrapper{
            width:342px;
            padding-right:18px;
            color:#FFF;
            text-align:right;
            position:absolute;
            bottom:20px;
            a{
                text-decoration:none;
                color:#FFF;
            }
            .sidebar-telefone{
                font-size:11px;
            }
            .sidebar-copy{
                margin-top:20px;
            }
            .sidebar-endereco, .sidebar-copy{
                font-size:9px;
                a{color:#fff; text-decoration:none;}
            }
        }
.sidebar{
    display:block;
    float:left;
    width:520px;
    .marca-contato{
        width:360px;
        float:left;
        .marca-wrapper{
            width:360px;
            height:360px;
            background-color:#FFF;
            .marca{
                display:block;
                width: 290px;
                height: 30px;
                margin:0 auto;
                margin-top:164px;
                background:url(../img/marca.png);
                text-indent: -9999px;
            }
        }
        
    }
    .menu{
        float:right;
        width:130px;
        padding-left:30px;
        a{text-decoration: none; color: #686763}
        nav{
            margin-top:135px;
            & > ul{
                margin:0;
                padding:0;
                & > li{
                    .dropdown-titulo, .dropdown, .dropdown-content{
                        opacity:0;
                    }
                    .dropdown-content{
                        height:0px;
                        overflow:hidden;
                    }
                    height:22px;
                    &.projetos-menu:hover, &.projetos-active{
                        height:230px;
                        padding-bottom:15px;
                        -webkit-transition: all 500ms cubic-bezier(0.420, 0.000, 1.000, 1.000); 
                           -moz-transition: all 500ms cubic-bezier(0.420, 0.000, 1.000, 1.000); 
                            -ms-transition: all 500ms cubic-bezier(0.420, 0.000, 1.000, 1.000); 
                             -o-transition: all 500ms cubic-bezier(0.420, 0.000, 1.000, 1.000); 
                                transition: all 500ms cubic-bezier(0.420, 0.000, 1.000, 1.000); /* ease-in */

                        -webkit-transition-timing-function: cubic-bezier(0.420, 0.000, 1.000, 1.000); 
                           -moz-transition-timing-function: cubic-bezier(0.420, 0.000, 1.000, 1.000); 
                            -ms-transition-timing-function: cubic-bezier(0.420, 0.000, 1.000, 1.000); 
                             -o-transition-timing-function: cubic-bezier(0.420, 0.000, 1.000, 1.000); 
                                transition-timing-function: cubic-bezier(0.420, 0.000, 1.000, 1.000); /* ease-in */
                        .dropdown-content{
                            height:auto;
                            overflow:visible;
                            opacity:1;
                            -webkit-transition: all 500ms cubic-bezier(0.420, 0.000, 1.000, 1.000); 
                           -moz-transition: all 500ms cubic-bezier(0.420, 0.000, 1.000, 1.000); 
                            -ms-transition: all 500ms cubic-bezier(0.420, 0.000, 1.000, 1.000); 
                             -o-transition: all 500ms cubic-bezier(0.420, 0.000, 1.000, 1.000); 
                                transition: all 500ms cubic-bezier(0.420, 0.000, 1.000, 1.000); /* ease-in */

                        -webkit-transition-timing-function: cubic-bezier(0.420, 0.000, 1.000, 1.000); 
                           -moz-transition-timing-function: cubic-bezier(0.420, 0.000, 1.000, 1.000); 
                            -ms-transition-timing-function: cubic-bezier(0.420, 0.000, 1.000, 1.000); 
                             -o-transition-timing-function: cubic-bezier(0.420, 0.000, 1.000, 1.000); 
                                transition-timing-function: cubic-bezier(0.420, 0.000, 1.000, 1.000); /* ease-in */
                        }
                        .dropdown-titulo{
                            opacity:1;
                            display: block;
                            margin-left: 7px;
                            margin-top: 15px;
                            text-transform: uppercase;
                            font-family: $fontin;
                            font-size:11px;
                            margin-bottom:3px;
                        }
                        ul.dropdown{
                            opacity:1;
                            width:130px;
                            font-size:11px;
                            margin:0;
                            padding:0;
                            margin-bottom:20px;
                            li{
                                width:130px;
                                height:15px;
                                line-height:15px;
                                margin-bottom:3px;
                                a{
                                    display:block;
                                    width:124px;
                                    height:15px;
                                    line-height:14px;
                                    padding-left:6px;
                                    -webkit-transition: all 120ms cubic-bezier(0.420, 0.000, 1.000, 1.000); 
                                       -moz-transition: all 120ms cubic-bezier(0.420, 0.000, 1.000, 1.000); 
                                        -ms-transition: all 120ms cubic-bezier(0.420, 0.000, 1.000, 1.000); 
                                         -o-transition: all 120ms cubic-bezier(0.420, 0.000, 1.000, 1.000); 
                                            transition: all 120ms cubic-bezier(0.420, 0.000, 1.000, 1.000); /* ease-in */

                                    -webkit-transition-timing-function: cubic-bezier(0.420, 0.000, 1.000, 1.000); 
                                       -moz-transition-timing-function: cubic-bezier(0.420, 0.000, 1.000, 1.000); 
                                        -ms-transition-timing-function: cubic-bezier(0.420, 0.000, 1.000, 1.000); 
                                         -o-transition-timing-function: cubic-bezier(0.420, 0.000, 1.000, 1.000); 
                                            transition-timing-function: cubic-bezier(0.420, 0.000, 1.000, 1.000); /* ease-in */
                                    &:hover, &.active{
                                        background:#bfa165;
                                        color:#FFF;
                                    }
                                }
                            }
                        }
                    }
                    & > a.parent{
                        font-family:$fontin; font-size:13px;
                        text-transform:lowercase;
                        display: block;
                        width:100%;
                        line-height: 1.7em;
                        height:22px;
                        span.texto{
                            background:#d9d9d1;
                            padding-right:4px;
                        }
                        &:hover, &.active{
                            .barra-menu{
                                width:100%;
                            }
                        }
                    }
                    .barra-menu{
                        display:block;
                        width:0;
                        height:2px;
                        background:#BFA165;
                        margin-top:-12px;
                        -webkit-transition: all 500ms cubic-bezier(0.420, 0.000, 1.000, 1.000); 
                           -moz-transition: all 500ms cubic-bezier(0.420, 0.000, 1.000, 1.000); 
                            -ms-transition: all 500ms cubic-bezier(0.420, 0.000, 1.000, 1.000); 
                             -o-transition: all 500ms cubic-bezier(0.420, 0.000, 1.000, 1.000); 
                                transition: all 500ms cubic-bezier(0.420, 0.000, 1.000, 1.000); /* ease-in */

                        -webkit-transition-timing-function: cubic-bezier(0.420, 0.000, 1.000, 1.000); 
                           -moz-transition-timing-function: cubic-bezier(0.420, 0.000, 1.000, 1.000); 
                            -ms-transition-timing-function: cubic-bezier(0.420, 0.000, 1.000, 1.000); 
                             -o-transition-timing-function: cubic-bezier(0.420, 0.000, 1.000, 1.000); 
                                transition-timing-function: cubic-bezier(0.420, 0.000, 1.000, 1.000); /* ease-in */
                    }
                }
            }
        }
    }
    .facebook-sidebar{
        display: block;
        width: 16px;
        height: 16px;
        background-image: url(../img/facebook.png);
        margin-top:35px;
    }
}

/* ==========================================================================
   Home
   ========================================================================== */

.conteudo{
    margin-left:520px;  
}

.conteudo-home{
    .projeto-home img{
        //max-width:100%;
    }
    .projeto-home{
       width:100%;
       height:auto;
    }
    .projeto-home img{
        //width:100%;
    }
}

/* ==========================================================================
   Escritório
   ========================================================================== */

.conteudo-escritorio{
    .escritorio-foto {
        width: 244px;
        float:left;
        margin:20px 0 0 20px;
    }
    .escritorio-texto{
        float:left;
        width: 520px;
        margin: 20px 0 0 18px;
        h1{
            font-family: $fontin;
            text-transform:uppercase;
            font-size:20px;
            font-weight: normal;
            color:#bfa165;
            margin: 0;
        }
        h2{
            display:block;
            width:450px;
            margin:0 0 0 -18px;
            padding:8px 30px 8px 33px;
            background:#bfa165;
            color:#fff;
            font-family:$fontin;
            font-weight:normal;
            font-size:17px;
        }
        p{
            width:490px;
            font-size:11px;
        }
    }
}

/* ==========================================================================
   Projetos
   ========================================================================== */

.conteudo-projetos{
    padding: 20px 0 0px 20px;
    margin-left:520px;
    .controle-social{
        display:inline-block;
        float:left;
    }
    .voltar{
        float:right;
        display: block;
        text-decoration: none;
        width: 50px;
        height: 24px;
        background: #BFA165;
        padding: 0 10px;
        font-size: 13px;
        line-height: 23px;
        text-align: center;
        color: #fff;
        font-family: "fontin", sans-serif;
        span{font-family:serif; margin-right:3px;}
    }
    h1{
        margin-top:0;
        display:block;
        width:646px;
        padding-left:14px;
        height:44px;
        line-height:44px;
        background:#BFA165;
        font-family:$fontin;
        color:#FFF;
        font-weight: normal;
        margin-bottom:1px;
    }
    .projeto-link{
        width:190px;
        height:190px;
        display:block;
        float:left;
        margin: 0 5px 5px 0;
        &:hover{
            .projeto-img-hover{
                @include opaque(0);
            }
        }
        .projeto-img-hover{
            width:190px;
            height:190px;
            display:block;
            margin-top:-190px;
            background:#bfa165;
            @include opaque(5);
        }
    }
    .bx-viewport{
        background:#d9d9d1;
    }
    #projetos-detalhe-tabs{
        width:660px;
    }
    .bx-wrapper{
        position:relative;
        margin-bottom:5px;
    }
    .bx-controls{
        width:100%;
        position:absolute;
        top:120px;
    }
    .bx-prev, .bx-next{
        display:block;
        position:relative;
        z-index:1000;
        float:left;
        width: 15px;
        height: 180px;
        background-color:rgba(191, 161, 101, 0.8);
        background-image:url(../img/seta_esq.png);
        background-repeat:no-repeat;
        background-position:center;
        text-indent:-9999px;
    }
    .bx-next{
        float:right;
        background-image:url(../img/seta_dir.png);
    }
    .projetos-detalhe-ampliada > div{
        text-align:center;
    }
    #bx-pager{
        margin-top:17px;
    }
    #bx-pager a{
        display: block;
        width: 50px;
        height: 50px;
        float:left;
        margin-right:5px;
        &.active{
            img{
                width:46px;
                height:46px;
                border: solid 2px #666;
            }
        }
    }
    .projetos-slide{
        text-align: center;
        .projetos-image-wrapper{
            display:inline-block;
            position:relative;
            line-height: 440px;
        }
    }
    .projetos-slide-control{
        width: 100%;
        position: absolute;
        top: 120px;
    }

    .projetos-slide-prev, .projetos-slide-next{
        display:block;
        position:relative;
        z-index:1000;
        float:left;
        width: 15px;
        height: 180px;
        background-image:url(../img/seta_esq.png);
        background-repeat:no-repeat;
        background-position:center;
        text-indent:-9999px;
    }
    .projetos-slide-next{
        float:right;
        background-image:url(../img/seta_dir.png);
    }
    .data-descricao{
        font-size:10px;
        color:#686763;
        .data{
            margin-bottom:0;
        }
        .descricao{
            margin-top:8px;
        }
    }
}

/* ==========================================================================
   Clipping
   ========================================================================== */
.conteudo-clipping{
    margin-left:520px;
    padding:20px 0 0 20px;
        .fechar-clipping{
        display:block;
        float:right;
        width: 10px;
        height: 10px;
        background-image:url(../img/botao-fechar.png);
        text-indent: -9999px;
        margin-right: 50px;
        margin-top: 0px;
        margin-bottom: 9px;
    }
    .image-center{
        width:950px;
        text-align:center;
    }
    .clipping{
        display: block;
        width: 180px;
        float:left;
        margin:0 6px 23px 0;
        text-decoration:none;
        color:#a0a298;
        font-size:11px;
        text-transform: uppercase;
        &:hover{
            .clipping-titulo-wrapper{
                color:#bfa165;
                border-bottom-color: #bfa165;
            }
            .clipping-img-hover{
                @include opaque(0);
            }
        }
        .clipping-titulo-wrapper{
            display:table-cell;
            text-align:center;
            vertical-align: middle;
            height:45px;
            width:180px;
            border-bottom: solid 2px #d9d9d1;
            .clipping-titulo{
                
            }
        }
        .clipping-img-hover{
            display:block;
            width:180px;
            height:240px;
            margin-top:-240px;
            background:#bfa165;
            @include opaque(5);
        }
    }
        .clipping-wrapper{
        margin:0 auto;
        .clipping-slider-wrapper{
            & > .clipping-slide{
            width:1100px;
            }
            .bx-controls{
                margin-top: -330px;
                position: relative;
                .bx-next, .bx-prev{
                    display:block;
                    float:left;
                    width: 30px;
                    height: 30px;
                    background:url(../img/seta-esquerda.jpg);
                    text-indent: -9999px;
                    margin-left:-50px;
                }
                .bx-next{
                    float:right;
                    margin-left:0;
                    margin-right:-50px;
                    background:url(../img/seta-direita.jpg);
                }
            }
            display:block;
            position:relative;
            width:1000px;
            height:644px;
            margin:0 auto;
            .image-left, .image-right{}
            .image-left{float:left; margin-right:14px;}
            .image-right{float:right}
            .clipping-slider{
                display:block;
                width:1012px;
                height:644px;
                & >div{
                    width:1012px !important;
                    &:first-child{display:none;}
                }
            }
            .bx-viewport{
                    height:644px !important;
                }
        }
    }   
}
.black_overlay{
            display: none;
            position: absolute;
            top: 0%;
            left: 0%;
            width: 100%;
            height: 100%;
            min-height:1000px;   
            background-color: black;
            z-index:1001;
            -moz-opacity: 0.8;
            opacity:.80;
            filter: alpha(opacity=80);
        }
        .white_content {
            display: none;
            position: absolute;
            top: 178px;
            left: 50%;
            margin-left:-550px;
            width: 1100px;
            height: 670px;
            background-color: transparent;
            z-index:1002;
            overflow: hidden;
        }

/* ==========================================================================
   Contato
   ========================================================================== */
.conteudo-contato{
    margin-left:520px;
    padding:100px 0 0 30px;
    .contatos{
        width:240px;
        a{text-decoration:none; color:inherit;}
    }
    .telefone{
        font-size:32px;
        color:#78786E;
    }
    .endereco{
        font-size:13px;
        color:#78786E;
        margin-bottom:7px;
    }
    .email{
        font-weight:bold;
        font-size:13px;
        color:#bfa165;
        a{
            text-decoration: none;
            color: #bfa165;
        }
    }

     form{
        margin-bottom:80px;
        margin-left:14px;
        .inputs, .textarea{
            float:left;
        }
        .inputs{
            input{
                width:165px;
                padding-left:15px;
                font-size:13px;
                height:37px;
                line-height:37px;
                margin-bottom:3px;
                border:solid 2px #EEE; 
                background-color:#FFF;
                font-family:$opensans;
                color:#78786E;
                outline:none;
            }
        }
        .textarea{
            textarea{
                width:276px;
                height:101px;
                padding:15px;
                font-size:13px;
                background-color:#FFF;
                border:solid 2px #EEE; 
                margin-left:8px;
                font-family:$opensans;
                color:#78786E;
                outline:none;
            }
            #contato-submit{
                float:right;
                width:80px;
                height:30px;
                border:none;
                color:white;
                font-size:13px;
                text-transform:uppercase;
                background:#bfa165;
                margin-top:8px;
                text-align:center;
                &:hover{
                    color:#EEE;
                }
            }
        }
    }
}

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder{ 
           color:#78786E;
}
input::-webkit-input-placeholder{
}
input:-moz-placeholder, textarea:-moz-placeholder{ 
   color:#78786E;
}
input:-moz-placeholder{
}
    /* ==========================================================================
       Helper classes
       ========================================================================== */

    /*
     * Image replacement
     */

    .ir {
        background-color: transparent;
        border: 0;
        overflow: hidden;
        /* IE 6/7 fallback */
        *text-indent: -9999px;
    }

    .ir:before {
        content: "";
        display: block;
        width: 0;
        height: 100%;
    }





/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   Theses examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}


/* iPads (portrait) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {
    body{min-width:1100px;}
    .grupo, .footer{
        width:1099px;
    }
}


/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    /* Remove unwanted elements */
#header, #nav, .noprint
{
display: none;
}

/* Ensure the content spans the full width */
#container, #container2, #content
{
width: 100%; margin: 0; float: none;
}

/* Change text colour to black (useful for light text on a dark background) */
.lighttext
{
color: #000 
}

/* Improve colour contrast of links */
a:link, a:visited
{
color: #781351
}


}
