/* ====================================================================
   Crossbrowser Opacity
   ==================================================================== */
@mixin opaque($float)
	filter: alpha(opacity=$float*10) // internet explorer 
	-khtml-opacity: $float/10      // khtml, old safari 
	-moz-opacity: $float/10      // mozilla, netscape 
	opacity: $float/10       // fx, safari, opera 
	